<link rel="stylesheet" href="/css/footer.css">
<body>
    <div id="footer">
        <div  class="left">
            <a href="/" ><img src="/images/habit_logo.svg" alt="habit_logo" id="logo"></a><br>
        <p id="license">All rights Reserverd to Krishna</p>
        </div>
        <div class="right">

                <a href="/" id="home-page-link">Home</a>

        </div>

    </div>
</body>