<link rel="stylesheet" href="/css/forgotten_password.css">
<body>
  <link rel="stylesheet" href="/css/forgotten_password.css">  
<div class="view-form">
    <form action="/users/forgotten-password"  method="post" id="forgotten-password-form">
        <input type="email" name="email" placeholder="Enter your Registered Email" required>
        <button type="submit" id="btn">Update Password</button>
    </form>
</div>
</body>