<link rel="stylesheet" href="/css/habit_form.css">

<body>
    <div id="center-all">
    <div id="view-form">
    <form action="/users/track-habit" method="post" id="track-habit-form">

        <div class="select-form">
        <label for="diet">Diet</label>
        <select name="diet" id="diet" >
            <option value="done">Done</option>
            <option value="not done">Not Done</option>
            <option value="none">None</option>
        </select>
        </div>


        <div class="select-form">
        <label for="walk">Walk</label>
        <select name="walk" id="walk" >
            <option value="done">Done</option>
            <option value="not done">Not Done</option>
            <option value="none">None</option>
        </select>
        </div>


        <div class="select-form">
        <label for="book">Book</label>
        <select name="book" id="book" >
            <option value="done">Done</option>
            <option value="not done">Not Done</option>
            <option value="none">None</option>
        </select>
        </div>


        <div class="select-form">
        <label for="podcast">Podcast</label>
        <select name="podcast" id="podcast" >
            <option value="done">Done</option>
            <option value="not done">Not Done</option>
            <option value="none">None</option>
        </select>
        </div>


        <div class="select-form">
        <label for="skincare">Skincare</label>
        <select name="skincare" id="skincare" >
            <option value="done">Done</option>
            <option value="not done">Not Done</option>
            <option value="none">None</option>
        </select>
        </div>

        <button type="submit" id="submit-btn">Track Habit</button>


    </form>
    </div>
    </div>
    

</body>